---
layout: default
---


{% include project.html project='ssoa' %}

{% include project.html project='ofm' %}

{% include project.html project='wk' %}

<div class="lijn">
    <svg  height="10" width="100%">
        <line class="lijn" x1="0" y1="0" x2="100%" y2="000" />
        Sorry, your browser does not support inline SVG.
    </svg>
</div>
<div class="project-wrapper">
    {% for project in site.portfolio %}
    {% if project.class =='wk' %}
    <div class="project-linkerkant">
        <div class="title">
            
            <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
            <p>{{project.keywords}}<p>
        </div>
        <div class="beschrijving"> 
        
            <p>{{project.beschrijving}}</p>
        </div>  

        
    </div>
        <div class="project-img">
            <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                <div class="wk">
                    <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                    <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                    
                    <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt=""></div>
                </div>
                <div class="pic"><div style="padding:56.25% 0 20px 0;position:relative;"><iframe src="https://player.vimeo.com/video/358061815" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture " allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </a>
        </div>  
</div>
{% endif %}
{% endfor %}
</div>



    <div class="lijn">
        <svg  height="10" width="100%">
            <line class="lijn" x1="0" y1="0" x2="100%" y2="000" />
            Sorry, your browser does not support inline SVG.
        </svg>
    </div>
    <div class="project-wrapper">
        {% for project in site.portfolio %}
        {% if project.class =='pbc' %}
        <div class="project-linkerkant">
            <div class="title">
                
                <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
                <p>{{project.keywords}}<p>
            </div>
            <div class="beschrijving"> 
            
                <p>{{project.beschrijving}}</p>
            </div>  

            
        </div>
            <div class="project-img">
                <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                    <div class="pbc">
                        <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                        <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                        
                        <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt=""></div>
                    </div>
                    <div class="pic"><div style="padding:56.25% 0 20px 0;position:relative;"><iframe src="https://player.vimeo.com/video/358061815" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture " allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </a>
            </div>  
    </div>
    {% endif %}
    {% endfor %}
    </div>

{% include project.html project='ofms' %}

{% include project.html project='pbcb' %}



<!-- <svg  height="10" width="100%">
    <line class="lijn" x1="0" y1="0" x2="100%" y2="000" />
    Sorry, your browser does not support inline SVG.
  </svg>
        <div class="project-wrapper">
            {% for project in site.portfolio %}
            {% if project.class =='ofm' %}
            <div class="project-linkerkant">
                <div class="title">
                    <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
                    <p>{{project.keywords}}<p></p>
                </div>
                <div class="beschrijving"> 
                    <p>{{project.beschrijving}}</p>
                 
        
                </div> 
            </div>
                <div class="project-img">
                    <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                        <div class="ofm">
                            <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt="">   </div>
                        </div>
                    </a>
                </div>  
                {% endif %}
                {% endfor %}
        </div>
        <svg  height="10" width="100%">
            <line class="lijn" x1="0" y1="0" x2="100%" y2="000"  />
            Sorry, your browser does not support inline SVG.
          </svg>
        <div class="project-wrapper">
            {% for project in site.portfolio %}
            {% if project.class =='wk' %}
            <div class="project-linkerkant">
                <div class="title">
                    <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
                    <p>{{project.keywords}}<p></p>
                </div>
                <div class="beschrijving"> 
                    <p>{{project.beschrijving}}</p>
                 
        
                </div> 
            </div>
                <div class="project-img">
                    <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                        <div class="ofm">
                            <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt="">   </div>
                        </div>
                    </a>
                </div>  
                {% endif %}
                {% endfor %}
        </div>
        <svg  height="10" width="100%">
            <line class="lijn" x1="0" y1="0" x2="100%" y2="000"  />
            Sorry, your browser does not support inline SVG.
          </svg>
        <div class="project-wrapper">
            {% for project in site.portfolio %}
            {% if project.class =='ofms' %}
            <div class="project-linkerkant">
                <div class="title">
                    <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
                    <p>{{project.keywords}}<p></p>
                </div>
                <div class="beschrijving"> 
                    <p>{{project.beschrijving}}</p>
                 
        
                </div> 
            </div>
                <div class="project-img">
                    <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                        <div class="ofm">
                            <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt="">   </div>
                        </div>
                    </a>
                </div>  
                {% endif %}
                {% endfor %}
        </div>
        <svg  height="10" width="100%">
            <line class="lijn" x1="0" y1="0" x2="100%" y2="000"  />
            Sorry, your browser does not support inline SVG.
          </svg>
       
        <div class="project-wrapper">
            {% for project in site.portfolio %}
            {% if project.class =='pbc' %}
            <div class="project-linkerkant">
                <div class="title">
                    
                    <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
                    <p>{{project.keywords}}<p>
                </div>
                <div class="beschrijving"> 
                   
                    <p>{{project.beschrijving}}</p>
                </div>  
        
                
            </div>
                <div class="project-img">
                    <a href="{{site.baseurl}}portfolio/{{project.slug}}">
                        <div class="pbc">
                            <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                            <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                            
                            <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt=""></div>
                        </div>
                        <div class="pic"><div style="padding:56.25% 0 20px 0;position:relative;"><iframe src="https://player.vimeo.com/video/358061815" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture " allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </a>
                 </div>  
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <svg  height="10" width="100%">
        <line class="lijn" x1="0" y1="0" x2="100%" y2="000" />
        Sorry, your browser does not support inline SVG.
      </svg>
  
   <div class="project-wrapper">
    {% for project in site.portfolio %}
    {% if project.class =='pbcb' %}
       <div class="project-linkerkant">
           <div class="title">
               <h2><a href="{{site.baseurl}}portfolio/{{project.slug}}">{{project.title}}</a></h2>
               <p>{{project.keywords}}<p>
           </div>
           <div class="beschrijving"> 
               <p>{{project.beschrijving}}</p>
           </div>  
   
           
       </div>
           <div class="project-img">
              
               <div class="pbc">
                   <div class="pic"><img src="{{site.baseurl}}{{project.img1}}"  alt=""></div>
                   <div class="pic"><img src="{{site.baseurl}}{{project.img2}}"  alt=""></div>
                   <div class="pic"><img src="{{site.baseurl}}{{project.img3}}"  alt="">   </div>
               </div>
               

           </div>  
   </div>
   {% endif %}
{% endfor %}
 {% include my-gallery.html folder="img" project ='ofm' %} -->
