---
layout: default
---



<h2></h2>
<svg height="210" width="500">
    <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(255,0,0);stroke-width:4" />
    Sorry, your browser does not support inline SVG.
  </svg>


    {% for project in site.portfolio %}
        <div class="title">
            <h2>{{project.title}}</h2>
            
            <p>{{project.content}}</p>
        </div>  
        <a href="{{site.baseurl}}/portfolio/{{project.slug}}">View Full Project</a>
       
        {% for image in project.image_path %}
      <li><img src="{{site.baseurl}}{{ image.image }}" alt="{{ image.title}}"/></li>
      {% endfor %}
        
    {% endfor %}
  </ul>
{% include my-gallery.html folder="img" project ='#ofm' %}

<h1>collectie</h1>
