@media (max-width: 615px) {
    .nav-wrapper {
        flex-direction: column;
        height: 100%;
        align-items: center;

    }
    .nav-wrapper > .left-side {
        font-size: 1em;


    }
    .nav-wrapper > .right-side > .nav-link-wrapper-insta {


    }
    .nav-wrapper > .right-side {
        height: 100%;
        align-items: center;
        flex-direction: column;

    }
    .project-wrapper {
        padding: 10px 10px 0px 10px;
    }
    .pic {
        padding: 0px 0px 10px 0px;
    }
    .project-pagina-img {
        padding: 10px 10px 0px 10px;
        width: 100%;
    }
    .project-pagina-info {
        width: 100%;
        padding: 0px 10px 10px 10px;
    }
    .videos {
        width: 615px;
    }
}
    