/* Common Styles */
body {
    background-color: rgb(240, 240, 240);
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/* Project Styles */
.lijn {
    stroke-width:2;
    stroke:black;
}
.project-wrapper {
    /* background-color: red; */
    /* width: 100%; */
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 2fr; */
}
.project-wrapper > .project-linkerkant {
    flex: 1 1 25%;
    min-width: 35ch;
    padding-right: 75px;
 
    max-width: 75ch;
}
.project-wrapper > * {
    flex: 1 1 60%;
}

.ofm, .pbc, .wk {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
.ofm > * {
    flex: 1 1 500px;
    padding: 0px 10px 10px 0px;
    
}

.wk > * {
    
    flex: 1 1 500px;
    padding: 0px 10px 10px 0px;
    

}
.ofm img {
    /* height: 100%; */
    width: 100%;
}
.wk img {
    /* height: 100%; */
    width: 100%;
    
    
}
.pbc > * {
    flex: 1 1 500px;
    padding: 0px 10px 10px 0px;
}
.pbc img {
    width: 100%;
}
.beschrijving  {
    font-size: 1em;
}

.title {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
      color: black;
      line-height: .5em;
  }
  .beschrijving {
      font-family: georgia, Helvetica, sans-serif;
      padding-bottom: 20px;
  }
  .beschrijving a {
    color: black;
    text-decoration: underline;
    transition: color;
}
.beschrijving a:hover {
    /* color:salmon; */
    border-bottom: 0px solid black;
}

/* Nav Styles */
.nav-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      max-width: 100%;

 
       
        /* mix-blend-mode: difference; */


  }

.left-side {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;

}
.right-side  {
    display: flex;
    font-size: 1.5em;
    color: #bc8f8f;
    

    
}
.nav-link-wrapper-insta {
    margin-right: 10px;
    /* font-family:  Helvetica, sans-serif;
    font-weight: bold; */
    
}
.nav-wrapper > .left-side > div {
    margin-left: 20px;
    font-size: 1.5em;
    
    
}


.nav-link-wrapper-insta a {
    text-decoration: none;
    color:#87cefa;
    
}
.nav-link-wrapper a {
    text-decoration: none;
    /* color: #6F58C9 */
    color: black ;
    /* text-transform: uppercase; */
    /* letter-spacing: -0.04em; */
}
.nav-link-wrapper a:hover {
    color: blue;
}
.title a {
    text-decoration: none;
    color: black;
}
.title a:hover {
    color:orangered; 
}
.nav-wrapper a:hover {
    /* color: black; */
    border-bottom: 0px solid black;
}