/* Common Styles */
body {
    background-color:rgb(221,221,221);
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/* Project Styles */

.project-wrapper {
    /* background-color: red; */
    /* width: 100%; */
    padding: 40px 20px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 2fr; */
}
.project-wrapper > .project-linkerkant {
    flex: 1 1 25%;
    min-width: 35ch;
    padding-right: 75px;
 
    max-width: 75ch;
}
.project-wrapper > * {
    flex: 1 1 60%;
}

.ofm, .pbc {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
.ofm > * {
    flex: 1 1 500px;
    padding: 0px 10px 10px 0px;
}
.ofm img {
    /* height: 100%; */
    width: 100%;
}
.pbc > * {
    flex: 1 1 500px;
    padding: 0px 10px 10px 0px;
}
.pbc img {
    width: 100%;
}

.title {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
      color: black;
      line-height: 1em;
  }
  .beschrijving {
      font-family: georgia, Helvetica, sans-serif;
      padding-bottom: 20px;
  }
  .beschrijving a {
    color: black;
    text-decoration: underline;
    transition: color;
}
.beschrijving a:hover {
    /* color:salmon; */
    border-bottom: 0px solid black;
}

/* Nav Styles */
.nav-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px;
 
       
        /* mix-blend-mode: difference; */


  }

.left-side {
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    
    
}
.right-side {
    display: flex;
    font-size: 1.5em;
    color: #bc8f8f;

    
}
.nav-link-wrapper-insta {
    margin-right: 10px;
    /* font-family:  Helvetica, sans-serif;
    font-weight: bold; */
    
}
.nav-wrapper > .left-side > div {
    margin-left: 20px;
    font-size: 1.5em;
    
    
}


.nav-link-wrapper-insta a {
    text-decoration: none;
    color:#87cefa;
    
}
.nav-link-wrapper a {
    text-decoration: none;
    color: #6F58C9

    
    
   
}
.nav-wrapper a:hover {
    /* color: black; */
    border-bottom: 0px solid black;
}