<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include head.html %}
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="{{site.baseurl}}">Hans Verheyen</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="https://www.instagram.com/hanschverheyen/">Instagram</a> 
                </div>
                <div class="nav-link-wrapper">
                   hans.verheyen@hotmail.be
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="portfolio-items-wrapper">
            
        </div>
    </div>
        {{content}}
</body>
</html>